.text_form{
    text-align: center;
    font-family: SF Pro Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align:left;
    margin-left: 20px;
    margin-top:0px;
}
.Enter{
    width: 466px;
    height: 180px;
    margin-top: -20px;
    margin-left: -10px;
}
.formR{
    display: grid;
    place-items: center;
    height: 15vh;
    margin: 15px;
    margin-top: 60px;
}
input{
    align-items: center;
    font: Inter;
    font-size: 16px;
    background: #d9e0e9;
    border: none;
    color: #f5f5ff;
    padding: 13px;
    margin-top: 15px;
    margin-left: 40px;
    width:300px;
    height: 15px;
    top:79px;
    padding: 20px 35px 20px 20px;
    border-radius: 10px;
    margin-top: 25px;
}
.errorInput {
    border: 1px solid red;
    color: #bf1650;
}

.error {
    color: #bf1650;
    margin: 0px;
    margin-top: 0px;
    margin-left:-150px;
}

.error::before {
    display: inline;
    content: "⚠ ";
}
.ForgotPassword{
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style:initial;
    font-weight: 600px;
    color:#1F41BB;
    margin-top: 0px;
    margin-left: 280px;
}
.submitButton{
    align-items: center;
    background: #02036D;
    color: #fcfcfc;
    width: 350px;
    height: 55px;
    top: 490px;
    left: 43px;
    padding: 14px  20px 14px 20px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    margin-top:20px;
    margin-left: 40px;
    
}
.asGuest{
    align-items: center;
    background: #d9e0e9;
    color:#2C2C2C;
    font: Inter;
    width: 350px;
    height: 50px;
    top: 491px;
    left: 43px;
    padding: 14px  20px 14px 20px;
    gap: 10px;
    border-radius: 10px;
    margin-top:15px;
    margin-left: 40px;
    border: none;

}
.Regist{
    align-items: center;
    background: #d9e0e9;
    font: Inter;
    color:#2C2C2C;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    width: 350px;
    height: 50px;
    top: 623px;
    left: 43px;
    padding: 14px 20px 14px 20px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 40px;  
    
}
.openWith{
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600px;
    color:#1F41BB;
    background-color: #ffffff;
    border:none;
    margin-left: 25px;
    margin-top: 15px;
}
.Google{
    width: 55px;
    height: 40px;
    margin-left: -90px;
    margin-top: 10px;
}
.Facebook{
    width: 55px;
    height: 40px;
    margin-left: 40px;
    margin-top: -40px;
}
.Apple{
    width: 55px;
    height: 40px;
    margin-left: 170px;
    margin-top: -40px;
}

