.Registr{
    width: 466px;
    height: 180px;
    margin-top:-10px;
    margin-left: -10px;
}

.formR{
    gap: 15px;
    flex-direction: column;
    border-radius: 8px;
    border:none;
    background: var(--White-back, rgba(255, 255, 255, 0.82));
    padding: 24px 16px;
    margin-top: 150px;
    width: 350px;
    height:70px;
    margin-left: 0px;
}
input{
    font-size: 16px;
    background: var(--Text-Dark-color, #121926);
    border: none;
    color: #A1A1AA;
    padding: 11px;
}
.errorInput {
    border: 1px solid red;
    color: #bf1650;
}
.errorInput::placeholder {
    color: red;
}

.error {
    color: #bf1650;
    margin: 0px;
    margin-left: 25px;
}

.error::before {
    display: inline;
    content: "⚠ ";
}
.submitButton{
    border-radius: 10px;
    background:  #02036D;
    font-size: 16px;
    color: #ffffff;
    width:350px;
    height:60px;
    padding: 11px;
    margin-top: 30px;
    margin-left: 40px;
}


@media (max-width: 851px) {
    
}